.blogPost {
  width: 70%;
  margin: 2em 2em 2em 0;
  padding: 2em 5em;
}

blockquote {
  font-size: 1em;
}

.postNavigation {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;

  position: absolute;
  left: 19%;
  bottom: 4.5em;
}

.postNavigation a {
  /* margin-right: 2em; */
}

.postNavigation a:hover {
}

section {
  padding-bottom: 1em;
}

article section h1,
article section h2,
article section h3 {
  margin: 1.75em 0 1em 0;
}

article section h2 {
  font-size: 2.5em;
  font-weight: 400;
}

@media only screen and (max-width: 1366px) {
  .blogPost {
    width: 100%;
    /* margin-left: 15%;
    margin-top: 1em; */
    margin: 1em auto 0 auto;
  }

  .postNavigation {
    width: 49%;
    left: 22%;
  }
}

@media only screen and (max-width: 1200px) {
  .blogPost {
    width: 100%;
    margin-left: 0;
    margin-top: 1em;
  }

  .postNavigation {
    position: static;
    width: 100%;
    margin-top: 2em;
  }
}

@media only screen and (max-width: 1024px) {
  .blogPost {
    width: 100%;
    margin: auto;
    margin-top: 1em;
    padding: 2em 4em;
  }

  article header h1 {
    font-size: 2em;
  }

  .paginationUrls {
    width: 100%;
  }

  li {
    margin-bottom: 2em;
  }

  nav {
    width: 100%;
    margin: 0;
    margin-top: 2em;
  }
}

@media only screen and (max-width: 768px) {
  .blogPost {
    padding: 1em 3em;
  }
}

@media only screen and (max-width: 426px) {
  article {
    width: 100%;
  }

  .blogPost {
    width: 100%;
    margin-left: 0;
    padding: 1em 2em;
    border: none;
    border-radius: 0;
  }

  article header h1 {
    font-size: 2em;
  }

  .paginationUrls {
    width: 100%;
  }

  li {
    margin-bottom: 0;
  }

  nav {
    width: 100%;
    margin: 0;
    margin-top: 2em;
  }

  .postNavigation a {
    width: 90%;
    margin: 0 auto 1em auto;
    text-align: center;
  }
}
