.blogContent {
  width: 70%;
  margin: 1em 2em 2em 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}

article {
  overflow: hidden;
  margin: 1em auto;
  padding: 2em 3em;
  background-color: var(--content-bg);
  border-radius: 5px;
  box-shadow: var(--shadow);
  height: 100%;

  border: 2px solid var(--highlight-primary);
}

article header {
  z-index: 0;
  font-size: 1.2em;
}

article header h2 {
  margin: 0 0 0.25em 0;
  text-align: center;
}

header h2 a:hover {
  border: none;
}

section {
  margin-top: 1em;
}

.readMore {
  text-align: center;
  margin-top: 1em;
}

.date {
  padding: 0 10px;
  font-size: 0.7em;
  text-align: center;
}

blockquote {
  color: var(--text);
  border-left-color: var(--highlight-primary);
}

.allTags {
  text-align: center;
  width: 90%;
  margin: auto;
  padding: 2em;
}

.paginationUrls {
  width: 75%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 2px;

  display: none;
}

.paginationUrls div {
  color: var(--text-dark);
  border: 2px solid var(--text-dark);
  padding: 15px 50px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
}

.paginationUrls a {
  background: var(--dark-bg);
}

@media only screen and (max-width: 1366px) {
  .blogContent {
    width: 100%;
    margin: 2rem auto 0 auto;
  }

  article {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .blogContent {
    width: 100%;
  }
}

@media only screen and (max-width: 426px) {
  .blogContent {
    margin-top: 0;
    width: 100%;
  }

  article {
    width: 96%;
    padding-left: 1em;
    padding-right: 1em;
  }

  article header h1 {
    font-size: 2em;
  }

  .paginationUrls {
    width: 100%;
  }
}
