.blogPost {
  width: 100%;
  margin: 2em 2em 2em 1em;
  padding: 2em 5em;
}

blockquote {
  font-size: 1em;
}

.postNavigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.postNavigation a {
  margin: 0 0.25em;
  padding: 0.5em 1em;
  text-align: center;
}

section {
  padding-bottom: 1em;
}

article section h1,
article section h2,
article section h3 {
  margin: 1.75em 0 1em 0;
}

article section h2 {
  font-size: 2.5em;
  font-weight: 400;
}

@media only screen and (max-width: 1366px) {
  .blogPost {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .blogPost {
    padding: 2em 3em;
  }
}

@media only screen and (max-width: 1024px) {
  article header h1 {
    font-size: 2em;
  }

  li {
    margin-bottom: 2em;
  }

  nav {
    width: 100%;
    margin: 0;
    margin-top: 2em;
  }
}

@media only screen and (max-width: 768px) {
  .blogPost {
    margin: 2rem auto 0 auto;
  }
}

@media only screen and (max-width: 426px) {
  article {
    width: 100%;
  }

  .blogPost {
    width: 100%;
    margin-left: 0;
    padding: 1em 2em;
    border: none;
    border-radius: 0;
  }

  article header h1 {
    font-size: 2em;
  }

  li {
    margin-bottom: 0;
  }

  nav {
    width: 100%;
    margin: 0;
    margin-top: 2em;
  }

  .postNavigation {
    flex-direction: column;
  }

  .postNavigation a {
    margin: 0.25em 0;
  }
}
