.footer {
  background: var(--text);
  color: var(--header);
  text-align: center;
  font-size: 0.8em;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  padding: 15px 0;
}

.footer.noOffset {
  bottom: 0;
}

.landingFooter {
  display: none;
}

@media only screen and (max-width: 426px) {
  .footer {
    font-size: 0.7em;
  }
}
