/* @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500&display=swap"); */

:root {
  --menu-bg: #0c2233;
  --highlight: #8cd579;
  --dark-highlight: #061724;
  --body-bg: #f1f1f1;
  --content-bg: #f3f3f3;
  --text: rgb(47, 47, 47);
  --text-menu: white;
  --header: rgb(238, 238, 238);
  --link-color: #22aa84;
  --menu-link-color: #f1f1f1;
  --shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

body {
  margin: 0 0 55px;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  overflow-x: hidden;
  color: var(--text);
  font-weight: 400;
  background-color: var(--body-bg);
}

html {
  position: relative;
  min-height: 100%;
}

main {
  margin-bottom: 60px;
}

a {
  color: var(--link-color);
  box-shadow: none;
}

a:hover {
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0 0 1em 0;
}
