.content {
  box-shadow: var(--shadow);
  background: var(--content-bg);
  padding: 2em 1em;
  padding-top: 0 !important;
  margin-top: 2em;
  height: 100%;
  border: 2px solid var(--highlight-primary);
  border-radius: 5px;
}

.content h2,
.content h3 {
  text-align: center;
  margin-top: 1.5em;
}

.content h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 1.5em;
}

.restaurants {
  margin-top: 1em;
}

.paddingTop {
  padding-top: 2em;
}

.map {
  height: 350px;
}

th {
  background-color: var(--highlight-primary);
  color: var(--content-bg);
}

td,
th {
  text-align: center;
  font-size: 0.9em !important;
  max-width: 50px;
}

.carriers,
.distances,
.taxi {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 2em 0 3em 0;
}

.carriers ul,
.distances ul,
.taxi {
  list-style: none;
  margin: 0;
  padding: 0;
}

.taxi {
  margin-bottom: 2em;
}

@media only screen and (min-width: 768px) {
  .content {
    padding: 3em 2em;
  }
}

@media only screen and (min-width: 1366px) {
  .content {
    width: 70%;
    margin: 2em 2em 2em 0;
  }
}

@media only screen and (max-width: 1024px) {
  #table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  td,
  th {
    text-align: center;
    font-size: 0.9em !important;
    max-width: initial;
  }
}

@media only screen and (max-width: 426px) {
  .content h2 {
    font-size: 1.5em;
  }

  .carriers {
    display: block;
    text-align: center;
  }

  .carriers li {
    margin: 0.75em 0;
  }
}
