#languageSelector {
  position: absolute;
  right: 0;
  margin-right: 0 !important;
  clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
  background: var(--highlight-red);
  padding-left: 3em !important;
  transition: padding 0.2s ease-in;

  line-height: 3em !important;
}

#languageSelector:hover {
  padding-left: 5em !important;
}

#languageSelector a {
  margin: 0 2em;
}

#languageSelector a:hover {
  color: var(--highlight-pink);
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
  #languageSelector {
    top: 7.4em;
    width: 100%;
    /* clip-path: polygon(0 0, 75% 0, 60% 100%, 0% 100%); */
    clip-path: none;
    padding: 0 !important;
    line-height: 2.8em !important;
    text-align: center;
  }
}

@media only screen and (max-width: 426px) {
  #languageSelector {
    top: 10em;
  }
}
