#menu {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  position: relative;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;

  transition: background 0.3s ease-in;
}

#menu.inView {
  background: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("https://i.imgur.com/aId6MsG.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#menu div {
  flex-basis: auto;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 7em;
  margin: 0 2em;
  padding: 5px 0 2px 0;
  font-weight: 700;
}

#menu a:hover,
#menu a:focus {
  color: var(--highlight-red);
  outline: none;
}

#menu a {
  color: var(--menu-link-color);
}

#menu .active {
  color: var(--highlight-red);
}

.dropdown {
  position: relative;
  flex-basis: auto;
  font-weight: 400;
  font-size: 0.8em;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0 15px;
  padding: 5px 10px 2px 10px;

  color: var(--menu-link-color);
}

.dropdown:hover,
.dropdown:focus {
  color: var(--highlight-red);
  outline: none;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: var(--highlight-red);
  min-width: 250px;
  z-index: 1;
  height: auto;
  left: -4em;
  top: 7.45em;
  padding: 0 !important;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    transform: translateY(1em);
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdownContent::before {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-top: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  border-bottom: 1.5em solid var(--highlight-red);
  border-left: 1.5em solid transparent;
  top: -3em;
  left: 4em;
}

.dropdownContent .active {
  background: var(--header);
}

.dropdownContent a:hover,
.dropdownContent a:focus {
  background: var(--header);
}

.dropdownContent div {
  line-height: 3em !important;
}

.dropdownContent a {
  display: block;
  font-size: 0.8rem;
}

.dropdown:hover .dropdownContent {
  display: block;
  animation: fadeInFromNone 0.3s ease-in;
}

.dropdown,
h1,
h2,
h3 {
  font-weight: 700;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: linear-gradient(
      135deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("https://i.imgur.com/aId6MsG.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 60vh;
}

.landingHeader {
  height: 100vh;
}

.landingHeader .headerTitle {
  margin-bottom: 1em;
}

.headerTitle {
  color: var(--header);
  font-size: 4em;
  width: 60%;
  text-align: center;

  margin-bottom: 0;
}

.logo {
  position: absolute;
  left: 2em;
  top: 1em;
  width: 100px;
  height: 100px;
}

.menuToggle {
  display: none;
}

@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1024px) {
  #menu {
    justify-content: center;
    padding-right: 4em;
  }

  #menu div {
    margin: 0 1.5em;
  }
}

@media only screen and (max-width: 768px) {
  #menu {
    padding-right: 0;
    justify-content: center;
  }

  .logo {
    position: static;
    margin: 1em 2em 0 0;
  }

  .headerTitle {
    width: 80%;
    font-size: 2.5em;
    padding-top: 2em;
  }
}

@media only screen and (max-width: 426px) {
  #menu {
    flex-wrap: wrap;
    background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 0.4) 100%
      ),
      url("https://i.imgur.com/aId6MsG.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 2;
    flex-direction: column;

    transform: translateX(-100%);

    transition: transform 0.3s ease-in;
  }

  #menu link {
    width: 100%;
    text-align: center;
  }

  #menu.show,
  .dropdownContent.showSubMenu {
    transform: translateX(0);
  }

  #menu div {
    margin: 0;
    line-height: 3.5em;
  }

  .logo {
    margin: 0;
  }

  .headerTitle {
    font-size: 2em;
    width: 95%;
  }

  .menuToggle {
    display: flex;
    position: fixed;
    top: 2em;
    text-align: center;
    width: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 3;
    border: none;
  }

  .menuToggle.menuToggleInView div {
    background-color: var(--highlight-red);
  }

  .menuToggle.open.menuToggleInView div {
    background-color: white;
  }

  button.menutToggle:focus,
  button.menutToggle:hover {
    border: none !important;
    background: none !important;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 50px;
    height: 5px;
    margin: 5px 0;
    transition: 0.3s;
    background-color: white;
  }

  .open {
    padding-right: 2em;
  }

  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-16px, 5px);
    transform: rotate(-45deg) translate(-16px, 5px);

    transform: translateX(-16px);

    transform: rotate(-45deg) translateY(21px);
  }

  .open .bar2 {
    opacity: 0;
  }

  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-16px, -5px);
    transform: rotate(45deg) translate(-16px, -5px);

    transform: translateX(-16px);

    transform: rotate(45deg) translateY(-21px);
  }

  .dropdownContent {
    position: fixed;
    top: 0;
    left: 0;
    display: flex !important;

    background: var(--highlight-red);

    width: 100%;
    height: 100%;
    z-index: 3;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    transform: translateX(-100%);

    transition: transform 0.3s ease-in;
  }

  .dropdownContent div {
    padding: 0 2em !important;
  }

  .dropdownContent.showSubMenu a:hover,
  .dropdownContent.showSubMenu a:focus,
  .dropdownContent a.active {
    background: var(--header) !important;
    color: var(--highlight-red) !important;
  }
}

@media only screen and (max-width: 320px) {
}
