.sidebar {
  margin: 2em 0;
}

.sidebarItem {
  box-shadow: var(--shadow);
  background: var(--content-bg);
  padding: 2em 1em;
  margin-bottom: 2em;
  border-radius: 5px;

  border: 2px solid var(--highlight-primary);
}

.sidebarItem.highlighted {
  background: var(--highlight-primary);
  color: var(--content-bg);
}

.sidebarItem h3 {
  border-bottom: 1px solid var(--highlight-primary);
  text-align: center;
}

.sidebarItem.highlighted h3 {
  border-bottom: 1px solid var(--content-bg);
}

.sidebarItem li {
  margin-bottom: 0;
}

.imageContainer {
  width: 45%;
  margin: auto;
  transition: transform 0.2s ease-in;
}

.imageContainer.poster {
  width: 60%;
}

.sidebar img {
  margin-bottom: 0;
}

.imageContainer:hover {
  transform: scale(1.05);
}

.facultyLogo {
  border-radius: 50%;
}

.wide .imageContainer {
  width: 15%;
}

@media only screen and (max-width: 1366px) {
  .sidebar {
    width: 70%;
    margin: 2rem auto 0 auto;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1366px) {
  .sidebar {
    width: 25%;
  }
}
