.sidebar {
  margin: 2em 0;
}

.sidebarItem {
  box-shadow: var(--shadow);
  background: var(--content-bg);
  padding: 2em 1em;
  margin-bottom: 2em;

  border-radius: 10px;
}

.sidebarItem h3 {
  border-bottom: 1px solid var(--highlight);
}

.sidebarItem ul {
  padding: 0 2em;
  margin: 0;
}

.sidebarItem li {
  margin-bottom: 0;
}

@media only screen and (min-width: 426px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1366px) {
  .sidebar {
    width: 25%;
  }
}
