.sidebar {
  margin: 2em 0;
}

.sidebarItem {
  box-shadow: var(--shadow);
  background: var(--content-bg);
  padding: 2em 1em;
  margin-bottom: 2em;
}

.sidebarItem h3 {
  border-bottom: 1px solid var(--highlight);
}

.sidebarItem ul {
  padding: 0 2em;
  margin: 0;
}

.sidebarItem li {
  margin-bottom: 0;
}

.socialIcons {
  display: flex;
  font-size: 2em;
  justify-content: center;
}

.socialIcon {
  margin: 0 1em;
}

.email {
  margin-left: 0;
}

.facebook:hover {
  color: #395794;
}

.twitter:hover {
  color: #1c9deb;
}

.email:hover {
  color: #d84c41;
}

@media only screen and (min-width: 426px) {
  .sidebar {
  }
}

@media only screen and (min-width: 768px) {
  .sidebar {
  }
}

@media only screen and (min-width: 1366px) {
  .sidebar {
    width: 25%;
  }
}
